
@{
    Layout = "/views/shared/anbr/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
    ViewBag.Name = "wall";
}
<script src="~/frontend/public/js/wall/templates.js"></script>
<main class="g-dashboard--wrapper"></main>

@*<script type="text/javascript" src="~/areas/extsrv/js/main.js"></script>*@

@Html.Partial("anbr/SpriteSVG")