<script type="x-template/underscore" id="connect-template">
    <div style="width:400px;margin:0 auto;">
        <label><%= Resources.workGroups %></label>
        <select class="form-control" id="WorkGroups"><option value="">...</option></select>
        <br />
        <label><%= Resources.avaProjects %></label>
        <select class="form-control" id="Projects"><option value="">...</option></select>
        <br />
        <label><%= Resources.avaDatabase %></label>
        <select class="form-control" id="Connects"><option value="">...</option></select>
        <div id="Info" style="color: red;"></div>
        <!--<br />
        <p><button class="g-form--button blue disabled"><%= Resources.Connect %></button></p>-->
    </div>
</script>