/*TEMP NAV BUTTON*/
.nav-btn {
  width: 44px;
  height: 44px;
  background: #0094ff;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  /*filter:grayscale(100%) invert(100%);*/
  transition: all linear 300ms;
}
.nav-btn:hover {
  filter: grayscale(0%);
}
.nav-btn:hover > span {
  transform: rotate(270deg);
}
.nav-btn > span {
  background: #fff;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
  transition: all linear 300ms;
}
.nav-btn > span:before,
.nav-btn > span:after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: '';
  background: #0094ff;
  top: calc(50% - 1px);
  left: 0;
}
.nav-btn > span:after {
  transform: rotate(90deg);
}
body {
  margin: 0;
  padding: 44px 0 0;
  transition: all linear 200ms;
}
body.hassidebar {
  padding-left: 44px;
}
body.sidebar-expanded {
  padding-left: 264px;
}
main {
  padding: 10px;
}
aside {
  position: fixed;
  width: 44px;
  height: calc(100vh - 44px);
  background: #444;
  top: 44px;
  z-index: 10000;
  left: 0;
  box-sizing: border-box;
  padding: 44px 0 0;
  transition: all linear 200ms;
  overflow: hidden;
  color: #acacac;
}
aside.g-sidebar--right {
  left: auto;
  right: 0;
}
aside.expanded {
  width: 264px;
}
aside.expanded:hover > .control > i {
  background: transparent;
}
aside.expanded > .control {
  transform: rotate(90deg);
}
aside.expanded > .control > i {
  background: transparent;
}
aside.expanded > .control > i:before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
aside.expanded > .control > i:after {
  transform: rotate(-135deg);
  top: calc(50% - 1px);
}
aside > .control {
  height: 44px;
  width: 44px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: all linear 200ms;
}
aside > .control:hover > i {
  background: #fff;
}
aside > .control:hover > i:before,
aside > .control:hover > i:after {
  background: #fff;
}
aside > .control > i {
  background: #acacac;
  width: 16px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
  transition: all linear 200ms;
}
aside > .control > i:before,
aside > .control > i:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #acacac;
  display: block;
  left: 0;
  transition: all linear 200ms;
}
aside > .control > i:before {
  top: -6px;
}
aside > .control > i:after {
  bottom: -6px;
}
aside > ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
aside > ul > li {
  margin: 0 0 0 44px;
  padding: 0 0 0 0;
  min-width: 220px;
  box-sizing: border-box;
}
aside > ul > li > ul {
  display: block;
  padding: 0;
  margin: 0;
}
aside > ul > li > ul > li {
  position: relative;
  display: block;
  padding: 0 16px;
}
aside > ul > li > ul > li > span {
  padding: 5px;
  display: block;
  background: #333333;
  border: 1px solid #444;
}
li.checks {
  position: relative;
  min-height: 44px;
  cursor: pointer;
  background: #333;
  min-height: calc(100vh - 88px);
}
li.checks > span {
  height: 44px;
  box-sizing: border-box;
  padding: 12px;
  display: block;
}
li.checks:before {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: -44px;
  background: #333;
  content: '';
  display: block;
}
li.checks:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: -32px;
  background: #444;
}
li.search {
  position: relative;
  min-height: 44px;
  cursor: pointer;
  background: #333;
  min-height: calc(100vh - 88px);
}
li.search > span {
  height: 44px;
  box-sizing: border-box;
  padding: 12px;
  display: block;
}
li.search:before {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: -44px;
  background: #333;
  content: '';
  display: block;
}
li.search:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: -32px;
  background: #444;
}
li.add {
  position: relative;
  min-height: 44px;
  cursor: pointer;
  background: #333;
  min-height: calc(100vh - 88px);
}
li.add > span {
  height: 44px;
  box-sizing: border-box;
  padding: 12px;
  display: block;
}
li.add:before {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: -44px;
  background: #333;
  content: '';
  display: block;
}
li.add:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: -32px;
  background: #444;
}