@{
    ViewBag.Title = "Search Sources";
    ViewBag.Name = "seasources";
    Layout = "/views/shared/anbr/_Layout.cshtml";
}
<script src="~/frontend/public/js/seasources/templates.js"></script>
<main style="margin-top:44px;"></main>