<div class="Ear Up ui-corner-top"><span class="ui-icon ui-icon-carat-1-n"></span></div>
<div class="Btns ui-corner-all">
    <div data-id="8AB272AC-C71A-4C92-83B6-DFFC15E3DF8D" class="btn2 EditItem" title="<%= Resources.editItem %>" style="display: inline-block;"></div>
    <div data-id="86056534-0DCB-48CF-B06D-3E8D23FD5001" class="DeleteItem btn2" title="<%= Resources.deleteItem %>" style="display: inline-block;"></div>
    <div data-id="FC8E4A90-73BE-4114-BDE7-6D2FB5969CAF" class="History btn2" title="<%= Resources.info %>"></div>
    <div data-id="B7787886-AF0E-4B5A-9061-49B182200B8C" id="addBasket" class="AddBasket btn2" title="<%= Resources.basket %>"></div>
</div>
<div class="Ear Down ui-corner-bottom"><span class="ui-icon ui-icon-carat-1-s"></span></div>