
<div class="AddPerson btn" title="<%= Resources.addPerson %>" data-id="251EE346-BF51-4724-B6F1-29688A231F81"></div>
<div class="AddOrg btn" title="<%= Resources.addOrganization %>" data-id="C1644690-426E-4257-9270-4265D9BA2868"></div>
<div class="AddFact btn" title="<%= Resources.addFact %>" data-id="F1A2AB77-7400-4CE6-890B-06B094C2BBEC"></div>
<div class="AddDoc btn" title="<%= Resources.addDoc %>" data-id="A1BE8009-3EE6-4098-850F-9C1814E1A7FD"></div>
<div class="Add btn" title="<%= Resources.addElement %>" data-id="006D41F9-900A-404D-BF65-5CCDA3445E58"></div>

