<div id="GW"><div class="Load"></div><div class="Nav"></div></div>
<div id="winProperty" class="ui-state-highlight ui-corner-all">
    <div class="Close btn" title="скрыть"></div>
</div>
<div id="sho"></div>
<div id="Error" class="ui-corner-left ui-state-error"><span class="ui-icon ui-icon-info"></span></div>     
<img src="~/Images/bigrotation2.gif" alt="" id="Rotor" class="Rotor" />


