<div>
    <label><%= Resources.search %></label>&nbsp;<input id="SearchInWinValue" type="text" style="width: 60%" />
    <span class="font-icon font-icon-find" id="SearchInWin"></span>
    <span class="font-icon font-icon-refresh" id="ClearInWin"></span>
    <label id="TypesFilter" class="Buttons right"><%= Resources.Filterbytype %></label><div id="ViewTypesTree" class="anbr-float"></div>
</div>
<table class="ResultSearch"><tr><td style="width: 70%;vertical-align: top;" id="ResultSearch"></td><td style="vertical-align: top;"><table id="SelectedParameters"></table></td></tr></table>

