@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/app/build/dashboards.js"></script>
</head>
<body>
    
    <main></main>
</body>
</html>
