<script type="x-template/underscore" id="edge-block-template">
    <div class="default-start-nav-header">
        <div class="default-start-nav-path"><span></span><%= Resources.toMain %></div>
        <div class="default-start-nav-close"><span></span></div>
        <div class="clearfix"></div>
    </div>
    <div class="default-start-nav-inner">
        <div class="default-start-tabs"></div>
        <div class="default-start-tabs-toggler">
            <div class="default-start-tabs-inner"></div>
        </div>
    </div>
</script>