@import "../../libs/lib";

.e-widget .e-in-wrap {
    border-color: #d7d7d7;

    & .e-box {border:none;
        
    }
}

/*.e-datetime-wrap e-widget e-ntouch{
    & input.e-input {border: 1px solid; border-right: none;}
        & span.e-select {border: none; border-left: 1px solid;}
}*/


.e-widget:focus {
    border: 0;
}

.e-focus.e-valid  input.g-form--input:focus{
    border: 0;
} 

.e-widget .e-select {
    background-color: transparent;
    border-color: #EEE7DB;
}

    .e-widget .e-select:hover {
        background-color: transparent;
    }

.e-widget input.e-input {

}

.e-datepicker .e-header,
.e-datepicker .e-footer {
    background-color: #666;
    font-size: 13px;
}

.e-datepicker table td:hover, .e-datepicker td.e-state-hover, .e-datepicker .current-month.e-state-default.e-special-day:hover {
    background-color: #666;
}

.e-datepicker .today {
    background-color: #f0f0f0;
}

.e-datepicker .e-footer:hover {
    background-color: #666;
    border: 0;
}

.e-widget .e-icon.e-date {
    .font-icon();
    text-align: center;
}

    .e-widget .e-icon.e-date:before {
        content: '\E787';
        font-size: 16px;
        color: @color-norm;
        margin-top: 3px;
    }



// DATE PICKER
.e-datepicker .e-calendar {
    .e-header {
        .e-datepicker-headertext {
            color: #fff;
            background: #666;
        }

        .e-prev, .e-next {
            cursor: pointer;
            position: relative;
            top: -13px;

            .e-icon {
                color: #fff;
            }
        }

        .e-prev {
            left: -13px;
        }

        .e-next {
            right: 4px;
        }
    }
}
.e-datepicker {
    .e-week-header {
        th {
            color: #222;

            &:before, &:after {
                background: #dedede;
            }
        }
    }

    table {background: #fff;
        tr {
            &:nth-child(even), &:nth-child(odd) {
                td {
                    background: #fff !important;
                }
            }

            &:hover {
                td {
                    background: #fff;
                }
            }

            td {
                &:hover {
                    background: #52b6e4 !important;
                }

                &.e-active {
                    background: #179bd7 !important;
                }

                &.today {
                    border: 1px solid #179bd7 !important;
                }
            }
        }
    }
}
.e-datetimecalendar:before,
.e-icon.e-datetime:before {
    content: '';
    position: absolute;
    top: ~"calc(50% - 11px)";
    left: 10px;
    //width: 16px !important;
    //height: 16px !important;
    background-color: transparent;
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="#666666"  viewBox="322 51 16 16"><path d="M336.61,67.1h-13c-.6,0-.61-.4-.61-1v-13c0-.6,0-1,.61-1H326v-1h1v1h3v-1h1v1h3v-1h1v1h1.61c.6,0,1.39.4,1.39,1v13C338,66.7,337.21,67.1,336.61,67.1Zm.39-14h-2v1h-1v-1h-3v1h-1v-1h-3v1h-1v-1h-2v13h13Zm-11.39,5h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm2-6h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm2-6h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm2-6h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm-3.61-9h5v1h-5Zm5.61,3h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm2-6h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Zm0,2h-1v-1h1Z" /></svg>');
    //background-repeat: no-repeat;
    //background-size: 544px 544px;
    //filter: grayscale(100%) brightness(1);
    //background-position: -323px -51px !important;
    cursor: pointer;
    transition: filter ease-in-out 150ms;
}

//Добавлена иконка image
.e-rte-toolbar-icon.image:before, .e-rte-toolbar-icon.imageProperties:before {
    content: "\e7a8";
}

//Изменена высота Области редактирования в Мастере
#master-create .editarea {
    height: 200px !important;
}

#master-create #ejControl_42_wrapper {
    height: 320px !important;
}

