<script type="x-template/underscore" id="alert-list-template">
    <div class="feedback-panel" style="display:none;"></div>
    <button type="button" class="btn-link"></button>
    <div class="dropdown-menu dropdown-menu-center">
        <span class="dropdown-menu_arrow"></span>
        <span class="close" data-icon="icon-close-l"></span>
        <div class="menu-alert-message"><%= Resources.alertMessage %></div>
        <div class="menu-alert-list">
            <ul></ul>
        </div>
    </div>    
</script>