<div class="g-dialog--header">
    <div class="g-dialog--title" data-icon="icon-<%- icon %>"><%= title %></div>
    <div class="g-dialog--manage">
        <i class="close"></i>
        <i class="size"></i>
        <i class="menu"></i>
    </div>
</div>
<div class="g-toolbar"></div>
<div class="g-dialog--context">
    <!--<ul>
        <li>
            File
            <ul>
                <li>Save</li>
                <li>Open</li>
                <li>Save as</li>
                <li>Settings</li>
                <li>Quit</li>
            </ul>
        </li>
        <li>
            Edit
            <ul>
                <li>Cut</li>
                <li>Copy</li>
                <li>Paste</li>
                <li>Undo</li>
            </ul>
        </li>
        <li>
            View
            <ul>
                <li>Markup</li>
                <li>Toolbox</li>
                <li>Full Screen</li>
            </ul>
        </li>
        <li>
            Window
            <ul>
                <li>Minimize</li>
                <li>Split</li>
                <li>Float</li>
            </ul>
        </li>
        <li>
            Help
            <ul>
                <li>View Help (F1)</li>
                <li>Register Product</li>
                <li>Technical Support</li>
                <li>About Dialog v. 0.1</li>
            </ul>
        </li>
    </ul>-->
</div>
<div class="g-dialog--promt"></div>
<div class="g-dialog--container">
    <div class="g-dialog--content"></div>
    <div class="g-dialog--sidebar"></div>
</div>
<div class="g-dialog--footer"></div>
<div class="g-dialog--blocker">
    <i class="loading" size="xl" speed="medium"></i>
</div>