<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="owin:AppStartup" value="www.Startup, www" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="SiteName" value="Семантический архив 4.0" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--<add key="ServerName" value="VVOLKOV" />-->
    <add key="ServerName" value="SRV-DEMO" />
    <!--<add key="ServerName" value="SRV-SA4D2" />-->
    
    <add key="Port" value="8732" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="DatabaseName" value="SA4-ForWebVersionTests" />
    <add key="DefaultRubric" value="223" />
    <add key="DefaultType" value="10021" />
    <add key="ReportingService" value="net.tcp://SRV-DEMO:8731/ANBR/ReportingService" />
    <add key="AdmLogin" value="ADM_BRIDGE_ADMIN" />
    <add key="AdmPwd" value="ADM_BRIDGE_ADMIN!QAZ1qaz" />
    <add key="​​Languages" value="ru-RU,en-US" />
    <add key="MBPH_dataUrl" value="net.tcp://SRV-DEMO:1014/DataService" />
    <add key="Path_OriginalSources" value="/Temp/OD/" />
    <add key="Path_Temp" value="/Temp/Temp/" />
    <add key="Path_SemNetData" value="/Temp/SN/" />
    <add key="Path_MapMarkers" value="/Temp/MapMarkers/" />
    <add key="Path_Export" value="/Temp/Export/" />
    <add key="Rule_TextExtracted" value="5000" />
    <add key="Rule_OriginalDoc" value="5000" />
    <add key="IsLogToDB" value="1" />
    <add key="IsLogSignalR" value="1" />
    <add key="Path_Graphvis" value="C:\Program Files (x86)\Graphviz2.38\bin\" />
    <add key="SharedDatabases" value=",202," />
    <add key="MyHost" value="http://localhost" />
    <add key="SiteHost" value="localhost" />
    <add key="DefaultLanguage" value="en-US" />
    <add key="Administrators" value="ABS\vvolkov" />
    <add key="ExternalCoreEndpoint" value="net.tcp://localhost:6059/WebWorkerService" />
    <add key="IsDev" value="1" />
    <!--users in role Admin-->
    <add key="VideoHost" value="https://share.anbr.ru" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="anbrservices@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="anbrservices@gmail.com" password="anbrservices!QAZ1qaz" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="24:00:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>

  <system.web>
    <!--
        in C:\Windows\Microsoft.NET\Framework\v4.0.30319\Aspnet.config
    <applicationPool maxConcurrentRequestsPerCPU="10000" maxConcurrentThreadsPerCPU="0" requestQueueLimit="15000" />
    -->

    <!--<processModel enable="true" requestQueueLimit="15000" />-->

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--web.api upload large file error - Error reading MIME multipart body part, maxRequestLength - resolve problem -->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" executionTimeout="3600" /> <!--in Kb Max value is 2147483647 KB (2 TB)-->

    <!--default roles: Admin, User-->
    <roleManager cacheRolesInCookie="true" defaultProvider="CustomRoleManager" enabled="true">
      <providers>
        <clear />
        <add name="CustomRoleManager" type="www.SaGateway.CustomRoleManager, www" />
      </providers>
    </roleManager>

    <identity impersonate="true" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="?" />
      <!--<deny users="?"/>-->
      <!--<allow users="ABS\VVolkov" />
      <deny users="*"/>-->
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      <add namespace="Westwind.Utilities" /><add namespace="Westwind.Web" /></namespaces>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" culture="en-US" uiCulture="en-US" />
  <httpModules>
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </httpModules></system.web>
  <system.webServer>
    <urlCompression dynamicCompressionBeforeCache="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="WebDav" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" /></modules>
    <security>
      <requestFiltering>
        <!--web.api upload large file error - Error reading MIME multipart body part, maxAllowedContentLength - resolve problem -->
        <requestLimits maxAllowedContentLength="4294967295" /> <!--in bytes (4 GB)-->
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <!--<httpRuntime relaxedUrlToFileSystemMapping="true"/>
    <rule name="point" stopProcessing="true"> <match url="^(.*)\.$" />
        <action type="Redirect" url="{R:1}" redirectType="Temporary" /> 
    </rule>-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="BD319B19EAF3B43A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.EJ" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.4451.0.53" newVersion="13.4451.0.53" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="ModelSAContainer" connectionString="metadata=res://*/ModelSA.csdl|res://*/ModelSA.ssdl|res://*/ModelSA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV-DEMO\SQL08;initial catalog=SAWeb5_SRV_WEB;User ID=saweb5;Password=saweb5_o;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Storage" connectionString="data source=SRV-DEMO\SQL08;initial catalog=SAWeb5_SRV_WEB;User ID=saweb5;Password=saweb5_o;Min Pool Size=20;Max Pool Size=500;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <!--<add name="ModelSAContainer" connectionString="metadata=res://*/ModelSA.csdl|res://*/ModelSA.ssdl|res://*/ModelSA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VVOLKOV;initial catalog=saweb5_srv_web_mine;User ID=saweb5;Password=saweb5_o;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Storage" connectionString="data source=VVOLKOV;initial catalog=saweb5_srv_web_mine;User ID=saweb5;Password=saweb5_o;Min Pool Size=20;Max Pool Size=500;Connection Timeout=30" providerName="System.Data.SqlClient" />-->
    <!--<add name="ModelSAContainer" connectionString="metadata=res://*/ModelSA.csdl|res://*/ModelSA.ssdl|res://*/ModelSA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VVOLKOV;initial catalog=SAWeb5_SRV_WEB;User ID=saweb5;Password=saweb5_o;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Storage" connectionString="data source=VVOLKOV;initial catalog=SAWeb5_SRV_WEB;User ID=saweb5;Password=saweb5_o;Min Pool Size=20;Max Pool Size=500;Connection Timeout=30" providerName="System.Data.SqlClient" />-->
    <!--<add name="ModelSAContainer" connectionString="metadata=res://*/ModelSA.csdl|res://*/ModelSA.ssdl|res://*/ModelSA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRV-SA4D2;initial catalog=SAWeb5_SRV_WEB;User ID=saweb5;Password=saweb5_o;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Storage" connectionString="data source=SRV-SA4D2;initial catalog=SAWeb5_SRV_WEB;User ID=saweb5;Password=saweb5_o;Min Pool Size=20;Max Pool Size=500;Connection Timeout=30" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="generalListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Log\saweb5.svclog" />
      </listeners>
    </trace>
    <sources>
      <source name="HubExceptions" switchValue="Critical, Error">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Log\saweb5_signalR.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>
