<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="uriProxyPage" value="https://saweb5.anbr.ru/proxy.html" />

    <add key="SiteName" value="Семантический архив 4.0" />
    <add key="PreserveLoginUrl" value="false" />
    <add key="ServerName" value="localhost" />
    <add key="Port" value="8732" />
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="DatabaseName" value="SA4_DEMO_PROF" />
    <add key="DefaultRubric" value="223" />
    <add key="DefaultType" value="10021" />
    <add key="ReportingService" value="net.tcp://localhost:8731/ANBR/ReportingService" />

    <add key="ida:FederationMetadataLocation" value="https://idsrv.anbr.ru/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Issuer" value="https://idsrv.anbr.ru/issue/wsfed" />
    <add key="ida:ProviderSelection" value="productionSTS" />
    <add key="AdmLogin" value="ADM_BRIDGE_ADMIN"/>
    <add key="AdmPwd" value="ADM_BRIDGE_ADMIN!QAZ1qaz"/>
    
    <add key="​​Languages" value="ru-RU,en-US" />
    <add key="MBPH_dataUrl" value="net.tcp://SRV-DEMO:1014/DataService" />

    <add key="Path_OriginalSources" value="/Temp/OD/" />
    <add key="Path_Temp" value="/Temp/Temp/" />
    <add key="Path_SemNetData" value="/Temp/SN/" />
    <add key="Path_MapMarkers" value="/Temp/MapMarkers/" />
    <add key="Path_Export" value="/Temp/Export/"/>

    <add key="Rule_TextExtracted" value="5000" />
    <add key="Rule_OriginalDoc" value="5000" />
    <add key="IsLogToDB" value="0" />
    <add key="Path_Graphvis" value="C:\Program Files (x86)\Graphviz2.34\bin\"/>
    <add key="MyHost" value="http://localhost" />
    <add key="DefaultLanguage" value="en-US" />
    <add key="ExternalCoreEndpoint" value="net.tcp://localhost:6059/WebWorkerService"/>
    <add key="SiteHost" value="localhost" />
  </appSettings>

  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="anbrservices@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="anbrservices@gmail.com" password="anbrservices!QAZ1qaz" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default"
             cacheMemoryLimitMegabytes="0"
             physicalMemoryLimitPercentage="0"
             pollingInterval="24:00:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>

  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="None" />
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5" />

    <customErrors mode="Off"/>

    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization culture="auto" uiCulture="auto"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="UrlRoutingModule"/>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managed" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://saweb5.anbr.ru/" />
      </audienceUris>
      
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="ba83831bff8f7330da05ed475a6e72c790934776" name="http://idsrv.anbr.ru/trust" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration>
      <serviceCertificate>
        <certificateReference findValue="f7037cf84de56ce20a5abef9dffff15727353a5b"
                              storeLocation="LocalMachine"
                              storeName="My"
                              x509FindType="FindByThumbprint"/>
      </serviceCertificate>

      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="false"
                    issuer="https://idsrv.anbr.ru/issue/wsfed"
                    realm="https://saweb5.anbr.ru/"
                    requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="generalListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Log\saweb5.svclog" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>