<script type="x-template/underscore" id="main-template"><div id="dialog"></div>

    <div class='Shna'></div>

    <div class="mode-info disabled">
        <label data-icon="icon-pen" for="mode-info"><%- Resources.Editing %></label><button class="g-form--switch" mode="off" id="mode-info"></button>
    </div>

    <div id="first"></div>

    <div id="left-property" class="side-panel"></div>

    <aside class="g-sidebar--right dashboard sidebar">
    <div class="title"></div>
    <div class="control"><i></i></div><div class="current-title"></div><div class="list"></div></aside>

    <div id="container"></div>
    <div id="slider"></div></script><script type="x-template/underscore" id="first-page-template"><section>
        <button data-link="my">
            <svg><use xlink:href="#my-board"></use><use xlink:href="#my-board-check"></use></svg><span><%- Resources.myDashboard %></span>
        </button><button data-link="shared">
            <svg><use xlink:href="#share-dashboard"></use><use xlink:href="#share-dashboard-round"></use></svg><span><%- Resources.shareDashboard %></span>
        </button>
    </section>

    <figure>
        <h1><%- Resources.myDashboard %></h1>
        <div class="list-scroll"><div class="list"></div></div>
    </figure></script><script type="x-template/underscore" id="first-item-template"><i class="remove"><svg><use xlink:href='#icon-trash' /></svg></i> <% if(!Screen){ %> <svg width='209' height='160'><use xlink:href='#plug4dashboard' /></svg> <% } else if(Screen.indexOf('data:image')!==-1) {%> <img src='<%- Screen %>' alt="" /> <% } else { %> <img src='<%- baseurl %>/Files/ImageTransform?path=<%- Screen %>&width=210&height=160' alt="" /> <% } %> <span dir="auto"><%= title %></span></script><script type="x-template/underscore" id="slider-template"><div class="bolt"><div class="bolt-lug"><div><span class="arrow vertical"></span></div></div></div>
    <div class="list">
        <div class="show-add-vitrin" title="<%- Resources.addVitrin %>"><svg><use xlink:href="#add-vitrin" /></svg></div>
        <div class="arrow horisontal big le"></div>
        <div class="items-wrap"></div>
        <div class="continue"><span></span><span></span><span></span></div>
        <div class="arrow horisontal west big ri"></div>
    </div></script><script type="x-template/underscore" id="slider-item-template"><div class='edit'>
        <!-- <span role='button' class='edit-vitrina'><svg><use xlink:href='#icon-pencil' /></svg></span> -->
        <span role='button' class='delete-vitrina' style="display: <%- !id?'inline-block':'none' %>;"><svg><use xlink:href='#icon-trash' /></svg></span>
    </div>
    <div class='panel-vitrin' dir="auto"> <% if(Screen) { %> <% if(Screen.indexOf('data:image')!==-1){ %> <img src='<%= Screen %>' alt='' /> <% } else { %> <img src='<%- baseurl %>/Files/ImageTransform?path=<%- Screen %>&width=96&height=55' alt='' /> <% } %> <% } %> <div class='name-vitrina'><%= title %></div>
    </div></script><script type="x-template/underscore" id="dashboard-settings0"><input type="text" name="title" value="<%- title %>" placeholder="<%- Resources.title %>" class="g-form--input" />
    <label><%- Resources.title %></label></script><script type="x-template/underscore" id="dashboard-settings1"><div class="set-background">
        <label><%= Resources.setColor %>:</label>
        <input type="text" name="BackgroundColor" />
    </div>

    <label><%= Resources.usebgimg %>:</label>
    <div class="image-gallery"></div>

    <div class="RadioBtnBlock">
        <span><input type="radio" name="BackgroundPosition" value="0" <%- Decoration.BackgroundPosition==0?'checked':'' %> />&nbsp;<label><%= Resources.Center %></label></span>
        <span><input type="radio" name="BackgroundPosition" value="1" <%- Decoration.BackgroundPosition==1?'checked':'' %> />&nbsp;<label><%= Resources.Fill %></label></span>
        <span><input type="radio" name="BackgroundPosition" value="2" <%- Decoration.BackgroundPosition==2?'checked':'' %> />&nbsp;<label><%= Resources.Tile %></label></span>
        <span><input type="radio" name="BackgroundPosition" value="3" <%- Decoration.BackgroundPosition==3?'checked':'' %> />&nbsp;<label><%= Resources.None %></label></span>
    </div></script><script type="x-template/underscore" id="dashboard-settings2"><!-- ТУТ НАДО ПЕРЕДЕЛАТЬ ЛОГИКУ -->
    <div></div>
    <span style="margin:0 1em; width:calc(100% - 2em); display:block;">
        <table class="search-result"><tr class="checked-user"></tr></table>
        <table class="list"></table>
    </span></script><script type="x-template/underscore" id="dashboard-settings3"><div class="thumb-settings">
        <div class="thumb-image"></div>
        <div class="g-form--input">
            <div>
                <input type="radio" value="0" class="g-form--radio" name="thumb" id="thumb-0" <%- !Screen?checked="checked":"" %> />
                <label for="thumb-0"><%- Resources.dbd1 %></label>
            </div>
            <div>
                <input type="radio" value="1" class="g-form--radio" name="thumb" id="thumb-1" <%- Screen && Screen.indexOf('data:image') !== -1?checked="checked":"" %> />
                <label for="thumb-1"><%- Resources.dbd2 %></label>
            </div>
            <div>
                <input type="radio" value="2" class="g-form--radio" name="thumb" id="thumb-2" <%- Screen && Screen.indexOf('data:image') === -1?checked="checked":"" %> />
                <label for="thumb-2"><%- Resources.dbd3 %></label>
            </div>
            <div>
                <input type="radio" value="3" class="g-form--radio" name="thumb" id="thumb-3" <%- Screen && Decoration && Decoration.BackgroundImageLink && Screen !== Decoration.BackgroundImageLink?checked="checked":"" %> />
                <label for="thumb-3"><%- Resources.dbd4 %></label>
            </div>
        </div>
    </div>
    <div class="thumb-options">
        <div class="thumb-desc">
            <p></p>
        </div>
        <div class="thumb-gallery" style="display:none;"></div>
    </div></script><script type="x-template/underscore" id="clone-widget-dialog-template"><div class="g-form--input">
        <label class="g-form--label"><%- Resources.cloneTo %></label>
        <div id="dashboards-list"></div>
    </div>
    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="newDBName" name="newDBName" value="" placeholder="<%- Resources.newDBName %>" />
            <label class="g-form--label" for="newDBName"><%- Resources.newDBName %></label>
        </span>
    </div></script><script type="x-template/underscore" id="top-buttons-template"><button class="show-add-widget-btn"><svg><use xlink:href='#add-widget-plus' /></svg><span class='anbr-tooltip'><span position='top'></span><%= Resources.addWidget %></span></button>
    <span class='sepa'></span>
    <section id='position-buttons'></section></script><script type="x-template/underscore" id="position-btns-template"><button title='<%= Resources.aligntop %>' name='top'><svg><use xlink:href='#align-top' /></svg></button>
    <button title='<%= Resources.alignmiddle %>' name='middle'><svg><use xlink:href='#align-middle' /></svg></button>
    <button title='<%= Resources.alignbottom %>' name='bottom'><svg><use xlink:href='#align-bottom' /></svg></button>
    <button title='<%= Resources.alignleft %>' name='left'><svg class='rotate'><use xlink:href='#align-top' /></svg></button>
    <button title='<%= Resources.aligncenter %>' name='center'><svg class='rotate'><use xlink:href='#align-middle' /></svg></button>
    <button title='<%= Resources.alignright %>' name='right'><svg class='rotate'><use xlink:href='#align-bottom' /></svg></button>
    <span class='sepa'></span>

    <button title='<%= Resources.alignheight %>' name='height'><svg class='align-by-height'><use xlink:href='#align-by-height' /></svg></button>
    <button title='<%= Resources.alignwidth %>' name='width'><svg class='align-by-width rotate'><use xlink:href='#align-by-height' /></svg></button>
    <button title='<%= Resources.alignsize %>' name='size'><svg><use xlink:href='#align-by-size' /></svg></button>

    <input name='width' value='' maxlength="4" title="<%- Resources.width %>" />
    <span>X</span>
    <input name='height' value='' maxlength="4" title="<%- Resources.height %>" />&nbsp;
    <span>px</span>

    <span class='sepa'></span>
    <button title='<%= Resources.paddinghor %>' name='dispose-x'><svg><use xlink:href='#padding-horizont' /></svg></button>
    <input name='PositonPadding-x' value='' maxlength="2" />&nbsp;
    <span>px</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <button title='<%= Resources.paddingver %>' name='dispose-y'><svg class='rotate2'><use xlink:href='#padding-horizont' /></svg></button>
    <input name='PositonPadding-y' value='' maxlength="2" />&nbsp;
    <span>px</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='sepa'></span>
    <button title='<%= Resources.onfront %>' name='front'><svg><use xlink:href='#to-front' /></svg></button>
    <button title='<%= Resources.onback %>' name='back'><svg><use xlink:href='#to-back' /></svg></button>
    <span class='sepa'></span>
    <div id="multi-operation"></div></script><script type="x-template/underscore" id="base-setting-template"> <% if(type==='text'){ %> <span class="g-form--input">
        <input class="g-form--input filled" type="text" name="<%- name %>" value="<%- value %>" placeholder="<%- displayName %>" maxlength="255" />
        <label class="g-form--label"><%- displayName %></label>
    </span> <% } else if (type==='checkbox'){ %> <div class="g-form--input">
        <input type="checkbox" class="g-form--checkbox" id="<%- prefix + name %>" name="<%- name %>" <%- value?checked='checked':'' %> />
        <label for="<%- prefix + name %>"><%- displayName %></label>
    </div> <% } else if (type==='select'){ %> <div class="g-form--input">
        <label class="g-form--label"><%- displayName %></label>
        <select class="g-form--select" name="<%- name %>"> <% _.each(value, function(o){ %> <option value="<%- o.value %>" <%= o.checked?'selected="selected"':"" %>><%- o.title %></option> <% }) %> </select>
    </div> <% } %> <div id="params"></div></script><script type="x-template/underscore" id="decoration-settings-template"><div class="marker">
        <div>
            <hr /><svg><use xlink:href="#marker-decoration"></use></svg>
            <input type="text" class="Decoration ignore" name="CaptionBackground" id="<%- prefix %>_CaptionBackground" value="<%- CaptionBackground %>" />
            &nbsp;&nbsp;&nbsp;
            <span class="font-icon font-icon-type"></span>
            <input type="text" class="Decoration ignore" name="CaptionForeground" id="<%- prefix %>_CaptionForeground" />
        </div>
        <div>
            <hr /><svg><use xlink:href="#marker-decoration"></use></svg>
            <input type="text" class="Decoration ignore" name="ContainerBackground" id="<%- prefix %>_ContainerBackground" />
            &nbsp;&nbsp;&nbsp;
            <span class="font-icon font-icon-type"></span>
            <input type="text" class="Decoration ignore" name="ContainerForeground" id="<%- prefix %>_ContainerForeground" />
        </div>
        <div>
            <hr /><svg><use xlink:href="#marker-decoration"></use></svg>
            <input type="text" class="Decoration ignore" name="LinkBackground" id="<%- prefix %>_LinkBackground" />
            &nbsp;&nbsp;&nbsp;
            <span class="font-icon font-icon-type"></span>
            <input type="text" class="Decoration ignore" name="LinkForeground" id="<%- prefix %>_LinkForeground" />
        </div>
    </div>

    <div id="maket"></div>

    <br />

    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input class="g-form--checkbox" type="checkbox" id="<%- prefix %>_CaptionIsVisible" name="CaptionIsVisible" <%- CaptionIsVisible?checked="checked":"" %> />
                <label for="<%- prefix %>_CaptionIsVisible"><%- Resources.captionVisible %></label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input class="g-form--checkbox" type="checkbox" id="<%- prefix %>_BorderIsVisible" name="BorderIsVisible" <%- BorderIsVisible?checked="checked":"" %> />
                <label for="<%- prefix %>_BorderIsVisible"><%- Resources.borderVisible %></label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="grid--1-1">
            <span class="g-form--input">
                <input class="g-form--checkbox" type="checkbox" id="<%- prefix %>_ContainerIsTransparent" name="ContainerIsTransparent" <%- ContainerIsTransparent?checked="checked":"" %> />
                <label for="<%- prefix %>_ContainerIsTransparent"><%- Resources.containerTransparent %></label>
            </span>
        </div>
    </div></script><script type="x-template/underscore" id="maket-template"> <% if(CaptionIsVisible) {  %> <div class="pat-title" style="background-color:<%- CaptionBackground %>;color:<%- CaptionForeground %>;">Title</div> <% } %> <div class="pat-content" style="<%- CaptionIsVisible?'':'height:136px;' %>background-color:<%- !ContainerIsTransparent? ContainerBackground: 'transparent' %>;color:<%- ContainerForeground %>;border: <%- BorderIsVisible?'solid 2px '+ CaptionBackground:'transparent' %>">
            Content
            <div class="pat-link" style="color:<%- LinkForeground %>"><span style="background-color:<%- LinkBackground %>;">Link</span></div>
        </div></script><script type="x-template/underscore" id="relations-settings-template"><div class="notify"></div>
    <div id="widgets"></div>
    <br />

    <table>
        <thead><tr><th><%- Resources.rsw1 %></th><th><%- Resources.rsw2 %></th><th></th></tr></thead>
        <tbody><tr><td><div id="select-param"></div></td><td><div id="params"></div></td><td><span data-icon="icon-anchor"></span></td></tr></tbody>
    </table>
    <div id="result"></div></script><script type="x-template/underscore" id="legend-settings-template"><div class="g-form--input">
        <input id="LegendIsVisible_<%- id %>" type="checkbox" class="g-form--checkbox" name="LegendIsVisible" <%- (LegendIsVisible?checked="checked":"") %> />
        <label for="LegendIsVisible_<%- id %>"><%= Resources.visibleLegend %>:</label>
    </div>
    <div class="g-form--input">
        <input type="text" value="<%- Title %>" class="g-form--input" id="Title" name="Title" placeholder="<%- Resources.title %>" />
        <label for="Title"><%- Resources.title %>:</label>
    </div>
    <div class="g-form--input" id="<%- id %>" style="margin-top:20px;">
        <label class="g-form--label"><%- Resources.position %>:</label>
        <div class="RbtnSet">
            <div class="tl">
                <input type="radio" id="<%- id %>_tl" name="LegendPosition<%- id %>" value="left-top" />
                <label for="<%- id %>_tl"><%- Resources.leftTop %></label>
            </div>
            <div class="tr">
                <input type="radio" id="<%- id %>_tr" name="LegendPosition<%- id %>" value="right-top" />
                <label for="<%- id %>_tr"><%- Resources.rightTop %></label>
            </div>
            <div class="bl">
                <input type="radio" id="<%- id %>_bl" name="LegendPosition<%- id %>" value="left-bottom" />
                <label for="<%- id %>_bl"><%- Resources.leftBottom %></label>
            </div>
            <div class="br">
                <input type="radio" id="<%- id %>_br" name="LegendPosition<%- id %>" value="right-bottom" />
                <label for="<%- id %>_br"><%- Resources.rightBottom %></label>
            </div>
        </div>
    </div></script><script type="x-template/underscore" id="legend-item-template"><td><img src="<%= MarkerUrl %>" alt="" /></td>
    <td>
        <div class="g-form--input">
            <input type="text" placeholder="<%- Resources.enterDescription %>" name="MarkerDescription" value="<%- MarkerDescription %>" class="g-form--input" />
            <label class="g-form--label"><%= Resources.enterDescription %></label>
        </div>
    </td>
    <td> <% if(LegendItemUID){ %> <button data-icon="icon-trash" class="g-form--button flat"></button> <% } %> </td></script><script type="x-template/underscore" id="type-reporting-settings"><div class="notice"></div>

    <nav>
        <span data-name='list-report'><span class='font-icon font-icon-result'></span></span>
        <span data-name='add-set'><svg><use xlink:href='#add-set' /></svg></span>
    </nav>
    <section class='list-report'></section>
    <section class='add-set'>
        <br />
        <select class='list-publishers'></select>
        <br /><br />
        <label><%- Resources.typere %></label>
        <select class='type-rep'></select>
        <br />
        <div class='load-tree'></div>
        <br />
    </section></script><script type="x-template/underscore" id="item-report-template"><span class='font-icon font-icon-delete'></span>
    <div>
        <label><%= Resources.typeso %></label>
        <div><%= ReportSysName %></div>
    </div>
    <div>
        <label><%= Resources.typere %></label><div><%= TypeSysName %></div>
    </div></script><script type="x-template/underscore" id="widget-create-template"><div class="step-panel one">
        <p class="title"><%= Resources.addWidget %></p>
        <div class="types-widget">
            <span id="WidgetTable"><svg class="widget-type"><use xlink:href="#widget-table" /></svg><label><%- Resources.table %></label></span>            
            <span id="WidgetRunning"><svg class="widget-type"><use xlink:href="#widget-running" /></svg><label><%- Resources.running %></label></span>
            <span id="WidgetMap"><svg class="widget-type"><use xlink:href="#widget-maps" /></svg><label><%- Resources.maps %></label></span>
            <span id="WidgetGraph"><svg class="widget-type"><use xlink:href="#widget-graph" /></svg><label><%- Resources.graph %></label></span>
            <span id="WidgetCloud"><svg class="widget-type"><use xlink:href="#widget-cloud" /></svg><label><%- Resources.tc %></label></span>
            <span id="WidgetSource"><svg class="widget-type"><use xlink:href="#widget-source" /></svg><label><%- Resources.source %></label></span>
            <span id="WidgetReporting"><svg class="widget-type"><use xlink:href="#widget-report" /></svg><label><%- Resources.report %></label></span>
            <span id="WidgetHtml"><svg class="widget-type"><use xlink:href="#widget-decor" /></svg><label><%- Resources.decorate %></label></span>
            <span id="WidgetSemNet"><svg class="widget-type"><use xlink:href="#widget-semnet" /></svg><label><%- Resources.relgraph %></label></span>
        </div>
        <br />
        <p class="description"></p>
    </div>

    <div class="step-panel requestParam">
        <p class="title"><%= Resources.widgetName %></p>
        <input type="text" name="title" id="titleWidget" placeholder="" maxlength="255" />
        <section></section>
    </div>

    <div class="step-panel visualization"></div>

    <div class="step-panel subscribe">
        <p class="title"><%= Resources.m4 %></p>
        <div id="Subscribe"></div>
        <br /><br />
        <p class="titleSubscribe"><%= Resources.subscribe %></p>
    </div>

    <div class="step-panel htmlEditor"></div>

    <div class="step-panel decoration">
        <p class="title"><%= Resources.m3 %></p>

        <div class="row">
            <div class="grid--1-1">
                <span class="g-form--input">                    
                    <input type="text" name="width" class="g-form--input" placeholder="<%- Resources.width %>" id="width" maxlength="4" />
                    <label class="g-form--label" for="width"><%- Resources.width %></label>
                </span>
            </div>
            <div class="grid--1-1">
                <span class="g-form--input">                    
                    <input type="text" name="height" class="g-form--input" placeholder="<%- Resources.height %>" id="height" maxlength="4" />
                    <label class="g-form--label" for="height"><%- Resources.height %></label>
                </span>
            </div>
        </div>

        <div id="decoration">
            <!--<nav>
                <div class="ac" data-tab="one"><svg><use xlink:href="#marker-decoration"></use></svg></div>
            </nav>
            <div class="tabs">
                <div class="tab-content one show">
                    <div class="marker">
                        <div>
                            <hr />
                            <svg><use xlink:href="#marker-decoration"></use></svg><input type="text" class="Decoration" name="CaptionBackground" value="#c8bca2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="font-icon font-icon-type"></span><input type="text" class="Decoration" name="CaptionForeground" value="#333333" />
                        </div>
                        <div>
                            <hr />
                            <svg><use xlink:href="#marker-decoration"></use></svg><input type="text" class="Decoration" name="ContainerBackground" value="#ffffff" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="font-icon font-icon-type"></span><input type="text" class="Decoration" name="ContainerForeground" value="#333333" />
                        </div>
                        <div>
                            <hr />
                            <svg><use xlink:href="#marker-decoration"></use></svg><input type="text" class="Decoration" name="LinkBackground" value="#ffffff" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="font-icon font-icon-type"></span><input type="text" class="Decoration" name="LinkForeground" value="#467fd4" />
                        </div>
                    </div>
                    <div class="pattern">
                        <div class="title">Title</div>
                        <div class="content">
                            Content
                            <div class="link"><span>Link</span></div>
                        </div>
                    </div>
                </div>
                <div class="tab-content two">
                    <div class="marker">
                        <div><hr /></div>
                        <div><hr /></div>
                        <div><hr /></div>
                    </div>
                    <div class="pattern"><div class="title">Title</div><div class="content">Content<div class="link">Link</div></div></div>
                </div>
            </div>-->
            <div id="decor-chbx">
                <div><span class="font-icon font-icon-checkbox checked"><input type="checkbox" name="CaptionIsVisible" checked="checked" /><label><%= Resources.captionVisible %></label></span></div>
                <div><span class="font-icon font-icon-checkbox checked"><input type="checkbox" name="BorderIsVisible" checked="checked" /><label><%= Resources.borderVisible %></label></span></div>
                <div><span class="font-icon font-icon-checkbox"><input type="checkbox" name="ContainerIsTransparent" /><label><%= Resources.containerTransparent %></label></span></div>
            </div>
            <br />
        </div>
    </div>

    <div class="step-panel reporting"></div>

    <br />
    <p class="cmd"><button id="back"><%= Resources.toback %></button>&nbsp;&nbsp;<button id="next"><%= Resources.next %></button></p></script><script type="x-template/underscore" id="widget-map-legend-template"><div class='LegendContainer'>
        <h4 dir="auto"><%- Title %></h4>
        <table class='ListItemsLegend'> <% _.each(WidgetsLegendItems, function(a){ %> <tr dir="auto">
                <td> <% if(a.MarkerUrl){ %> <img class='Bull' src='<%= a.MarkerUrl %>' alt='' /> <% } else { %> <span class='Blam' style='background-color:<%- a.MarkerColor %>'></span> <% } %> </td>
                <td dir="auto"><%- a.MarkerDescription %></td>
            </tr> <% }); %> </table>
    </div></script><script type="x-template/underscore" id="choice-chart-template"><div class="graph-panel-container">
        <p class="title"><%- Resources.gtitle %></p>
        <div class="graph-panel-grid"></div>
        <div class="graph-description">
            <!--<p>Graph description</p>-->
        </div>
    </div></script><script type="x-template/underscore" id="visual-settings-template"><h3><%- Resources.m1 %></h3>

    <!-- named Chart -->

    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="chartTitle" name="chartTitle" value="<%- chartTitle %>" placeholder="<%- Resources.vs11 %>" />
            <label class="g-form--label" for="chartTitle"><%- Resources.vs11 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs112 %></span>
            </span>
        </span>
    </div>

	<div>
		<span class="g-form--input">
			<input type="checkbox" class="g-form--checkbox" id="<%- prefix %>enableRTL" name="enableRTL" <%- enableRTL?checked='checked':'' %> />
			<label for="<%- prefix %>enableRTL"><%- Resources.dire %></label>
			<i class="help rtl-1"></i>
			<span class="g-tip bottom" style="display: none;">
				<kbd></kbd>
				<span><%- Resources.dire %></span>
			</span>
		</span>
	</div>

    <!-- Tooltips -->
    <h3><%- Resources.vs2 %></h3>
    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>tooltipVisible" name="tooltipVisible" <%- tooltipVisible?checked='checked':'' %> />
                <label for="<%- prefix %>tooltipVisible"><%- Resources.vs22 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs222 %></span>
                </span>
            </span>
        </div>
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>dataLabelVisible" name="dataLabelVisible" <%- dataLabelVisible?checked='checked':'' %> />
                <label for="<%- prefix %>dataLabelVisible"><%- Resources.vs21 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs212 %></span>
                </span>
            </span>
        </div>
    </div>

    <!-- Task 4266 - Show data markers -->
    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>markerVisible" name="markerVisible" <%- markerVisible?checked='checked':'' %> />
                <label for="<%- prefix %>markerVisible"><%- Resources.vs24 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs242 %></span>
                </span>
            </span>
        </div>
    </div>

    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="tooltipFormat" name="tooltipFormat" value="<%- tooltipFormat %>" placeholder="<%- Resources.vs23 %>" />
            <label class="g-form--label" for="tooltipFormat"><%- Resources.vs23 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs232 %></span>
            </span>
        </span>
    </div>

    <!-- Legend -->
    <h3><%- Resources.vs3 %></h3>

    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>legendVisible" name="legendVisible" <%- legendVisible?checked='checked':'' %> />
                <label for="<%- prefix %>legendVisible"><%- Resources.vs31 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs312 %></span>
                </span>
            </span>
        </div>
    </div>
    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="legendTitle" name="legendTitle" value="<%- legendTitle %>" placeholder="<%- Resources.vs32 %>" />
            <label class="g-form--label" for="legendTitle"><%- Resources.vs32 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs322 %></span>
            </span>
        </span>
    </div>

    <!--  Legend position / dropdown  -->
    <div class="g-form--input">
        <label class="g-form--label"><%- Resources.vs33 %></label>
        <div class="g-dropdown--menu" id="legendPosition"></div>
    </div>

    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="legendRowCount" name="legendRowCount" value="<%- legendRowCount %>" placeholder="<%- Resources.vs34 %>" maxlength="1" />
            <label class="g-form--label" for="legendRowCount"><%- Resources.vs34 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs342 %></span>
            </span>
        </span>
    </div>

    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="legendBorderSize" name="legendBorderSize" value="<%- legendBorderSize %>" placeholder="<%- Resources.vs35 %>" maxlength="1" />
            <label class="g-form--label" for="legendBorderSize"><%- Resources.vs35 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs352 %></span>
            </span>
        </span>
    </div>

    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input filled"><%- Resources.vs36 %></span>
            <!--<span class="g-form--input"><label class="g-form--label filled"><%- Resources.vs36 %></label></span>-->
        </div>
        <div class="grid--1-2">
            <input type="text" id="<%- prefix %>_legendBorderColor" name="legendBorderColor" value="<%- legendBorderColor==='transparent'?'':legendBorderColor %>" />
        </div>
        <br />
    </div>

    <!-- Axis Settings --> <% if(chart !== 'pie'){ %> <h3><%- Resources.vs4 %></h3>
    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>primaryXAxisVisible" name="primaryXAxisVisible" <%- primaryXAxisVisible?checked='checked':'' %> />
                <label for="<%- prefix %>primaryXAxisVisible"><%- Resources.vs41 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs412 %></span>
                </span>
            </span>
        </div>
    </div>
    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="primaryXAxisTitle" name="primaryXAxisTitle" value="<%- primaryXAxisTitle %>" placeholder="<%- Resources.vs42 %>" />
            <label class="g-form--label" for="primaryXAxisTitle"><%- Resources.vs42 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs422 %></span>
            </span>
        </span>
    </div>
    <!--  X axis labels position / dropdown  -->
    <div class="g-form--input">
        <label class="g-form--label"><%- Resources.vs43 %></label>
        <div class="g-dropdown--menu" id="axesXlabelAction"></div>
    </div>

    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>primaryYAxisVisible" name="primaryYAxisVisible" <%- primaryYAxisVisible?checked='checked':'' %> />
                <label for="<%- prefix %>primaryYAxisVisible"><%- Resources.vs44 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs442 %></span>
                </span>
            </span>
        </div>
    </div>
    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="primaryYAxisTitle" name="primaryYAxisTitle" value="<%- primaryYAxisTitle %>" placeholder="<%- Resources.vs45 %>" />
            <label class="g-form--label" for="primaryYAxisTitle"><%- Resources.vs45 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs452 %></span>
            </span>
        </span>
    </div> <% } %> <!--  Column Settings  --> <% if(['column', 'bar', 'stackingcolumn100', 'stackingcolumn'].indexOf(chart)!==-1){ %> <h3><%- Resources.vs5 %></h3>
    <br />
    <div>
        <span class="g-form--input">

            <input type="range" min="0" max="1" step="0.1" class="g-form--input filled" id="columnWidth" name="columnWidth" value="<%- columnWidth %>" placeholder="<%- Resources.vs51 %> (0-1)">
            <label class="g-form--label"><%- Resources.vs51 %> (<span><%- columnWidth %></span>)</label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs512 %></span>
            </span>
        </span>
    </div>

    <div>
        <span class="g-form--input">
            <input type="range" min="0" max="1" step="0.1" class="g-form--input filled" id="columnSpacing" name="columnSpacing" value="<%- columnSpacing %>" placeholder="<%- Resources.vs52 %> (0-1)" />
            <label class="g-form--label"><%- Resources.vs52 %> (<span><%- columnSpacing %></span>)</label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs522 %></span>
            </span>
        </span>
    </div> <% } %> <!--  Line Settings  --> <% if(chart === 'line') { %> <h3><%- Resources.vs6 %></h3>
    <div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="lineWidth" name="lineWidth" value="<%- lineWidth %>" placeholder="<%- Resources.vs61 %>" />
            <label class="g-form--label" for="lineWidth"><%- Resources.vs61 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs612 %></span>
            </span>
        </span>
    </div> <% } %> <!--  Segment Settings  --> <% if(chart === 'pie') { %> <h3><%- Resources.vs7 %></h3>
    <br />
    <div>
        <span class="g-form--input">
            <input type="range" min="0" max="1" step="0.1" class="g-form--input filled" id="pieSize" name="pieSize" value="<%- pieSize %>" placeholder="<%- Resources.vs71 %> (0-1)" />
            <label class="g-form--label" for="pieSize"><%- Resources.vs71 %> (<span><%- pieSize %></span>)</label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span><%- Resources.vs712 %></span>
            </span>
        </span>
    </div>
    <!--<div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="explodedIndex" name="explodedIndex" value="" placeholder="<%- Resources.vs72 %>" />
            <label class="g-form--label" for="explodedIndex"><%- Resources.vs72 %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd><%- Resources.vs721 %></kbd>
                <span><%- Resources.vs722 %></span>
            </span>
        </span>
    </div>-->
    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>explodeAllSegments" name="explodeAllSegments" <%- explodeAllSegments?checked='checked':'' %> />
                <label for="<%- prefix %>explodeAllSegments"><%- Resources.vs73 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs732 %></span>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="grid--1-2">
            <span class="g-form--input">
                <input type="checkbox" class="g-form--checkbox" id="<%- prefix %>explodeOnMouseOver" name="explodeOnMouseOver" <%- explodeOnMouseOver?checked='checked':'' %> />
                <label for="<%- prefix %>explodeOnMouseOver"><%- Resources.vs74 %></label>
                <i class="help rtl-1"></i>
                <span class="g-tip bottom" style="display: none;">
                    <kbd></kbd>
                    <span><%- Resources.vs742 %></span>
                </span>
            </span>
        </div>
    </div> <% } %> </script><script type="x-template/underscore" id="cloud-settings-template"><div id="form-settings"></div>

    <div id="color-rows"></div></script><script type="x-templte/underscore" id="cloud-form-template"><div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="min-font-size" maxlength="2" name="minFontSizeCloud" value="<%- minFontSizeCloud %>" placeholder="<%- Resources.cfsmi %>" />
            <label class="g-form--label" for="min-font-size"><%- Resources.cfsmi %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span></span>
            </span>
        </span>
    </div>

    <!--<div>
        <span class="g-form--input">
            <input type="text" class="g-form--input" id="max-font-size" maxlength="2" name="maxFontSizeCloud" value="<%- maxFontSizeCloud %>" placeholder="<%- Resources.cfsma %>" />
            <label class="g-form--label" for="max-font-size"><%- Resources.cfsma %></label>
            <i class="help rtl-1"></i>
            <span class="g-tip bottom" style="display: none;">
                <kbd></kbd>
                <span></span>
            </span>
        </span>
    </div>-->

    <div class="g-form--input">
        <label class="g-form--label"><%- Resources.csh %></label>
        <div class="g-dropdown--menu" id="cloud-shape"></div>
    </div></script><script type="x-template/underscore" id="semnet-settings-template"><span class="g-form--input">
        <label><%- Resources.layout %></label>
        <span id="layout"></span>
    </span>

    <span class="g-form--input">
        <label><%- Resources.tlayout %></label>
        <span id="astree"></span>
    </span>

    <span class="g-form--input">
        <label><%- Resources.level %></label>
        <span id="level"></span>
    </span>


    <!--<span class="g-form--input">
        <input type="text" class="g-form--input" id="snx" maxlength="2" name="SNX" value="<%- SNX %>" placeholder="<%- Resources.snx %>" />
        <label class="g-form--label" for="snx"><%- Resources.cfsmi %></label>
        <i class="help rtl-1"></i>
        <span class="g-tip bottom" style="display: none;">
            <kbd></kbd>
            <span></span>
        </span>
    </span>

    <span class="g-form--input">
        <input type="text" class="g-form--input" id="sny" maxlength="2" name="SNY" value="<%- SNY %>" placeholder="<%- Resources.sny %>" />
        <label class="g-form--label" for="sny"><%- Resources.cfsmi %></label>
        <i class="help rtl-1"></i>
        <span class="g-tip bottom" style="display: none;">
            <kbd></kbd>
            <span></span>
        </span>
    </span>

    <span class="g-form--input">
        <input type="text" class="g-form--input" id="snzoom" maxlength="2" name="SNZoom" value="<%- SNZoom %>" placeholder="<%- Resources.snzoom %>" />
        <label class="g-form--label" for="snzoom"><%- Resources.cfsmi %></label>
        <i class="help rtl-1"></i>
        <span class="g-tip bottom" style="display: none;">
            <kbd></kbd>
            <span></span>
        </span>
    </span>--></script><script type="x-template/underscore" id="card-vertical-view-template"><div class="card-image" dir="auto"> <%= image %> <% if(rubrics){ %> <div class="card-rubric" dir="auto">
            <p dir="auto"><%- rubrics %></p>
        </div> <% } %> <div class="card-date" dir="auto">
            <p dir="auto"><%- pdate %></p>
        </div>
    </div>
    <div class="card-content" dir="auto">
        <h3 dir="auto"><%- display_name %></h3>
        <p dir="auto"><%= annotation %></p> <% if(url) { %> <div class="card-link" dir="auto">
            <span class="card-link-icon"><svg class="link-icon"><use xlink:href="#link-icon" /></svg></span>    
            <a href="<%= url %>" target="_blank"><%- massmedia %></a>
        </div> <% } %> </div></script><script type="x-template/underscore" id="card-horizontal-view-template"><div class="card-image"> <%= image %> </div>
    <div class="card-content" dir="auto"> <% if(rubrics){ %> <div class="card-rubric">
            <p dir="auto"><%- rubrics %></p>
        </div> <% } %> <div class="card-date">
            <p dir="auto"><%- pdate %></p>
        </div>
        <h3 dir="auto"><%- display_name %></h3>
        <p dir="auto"><%= annotation %></p> <% if(url) { %> <div class="card-link" dir="auto">
            <span class="card-link-icon"><svg class="link-icon"><use xlink:href="#link-icon" /></svg></span>
            <a href="<%= url %>" target="_blank"><%- massmedia %></a>
        </div> <% } %> </div></script>