
//Подключение mixins
@import "libs/lib";

@import "libs/typo";

//Подлючение шрифтов
@import "libs/roboto";
@import "libs/segoe";

@import "global/body/body";
@import "global/header/header";

@import "global/body/icons";
@import "global/body/form";
@import "global/message/messages";
@import "global/alerts/alerts";
@import "global/search/choise";
@import "global/search/choise-param";
@import "global/paginator/paginator";
@import "global/tip/tips";
@import "global/body/tables";
@import "global/body/icon-progress";
@import "global/dropdown/dropdown";
@import "global/dropdown/dropdonwn-menu";
@import "global/dialog/dialog";
@import "global/tree/tree";
@import "global/list/list-area";
@import "global/loading/loading";
@import "global/body/field";
@import "global/request/request-lib";

@import "global/body/arrows";
@import "global/content/sources";
@import "global/body/anbr-float";
@import "global/list/list-cmd-panel";
@import "global/list/list-group";

/*
@import "../.components/list-cmd-panel";
@import "../.modules/start_info_panel";
@import "../.modules/image-gallery";
@import "../.modules/edit-panel";
@import "../.modules/request-library";
*/


.wrap {  width: 960px;  margin: 0 auto; padding-top: 37px;padding-bottom: 37px;}
.dropdown-toggle.btn-clear {
    text-align:left;
}