@{
    ViewBag.Title = "Request Library";
    ViewBag.Name = "reqlibrary";
    Layout = "/views/shared/anbr/_Layout.cshtml";
}
<script src="~/frontend/public/js/reqlibrary/templates.js"></script>
<main class="wizzard"></main>