<script type="x-template/underscore" id="semantic-scheme-wrapper">
    <section class="semnet">
        <div class="semantic-wrapper">
            <div id="svg-content"></div>
            <div class="semantic-sidebar" id="tools-bar"></div>

            <!--<div class="semantic-tabs active">
                <div class="control"></div>
                <ul id="set-layout"></ul>
            </div>-->

            <div class="semantic-sidebar right">
                <div class="semantic-tools">
                    <ul>
                        <li>
                            <span title="Fullscreen mode" id="sfs" class="semantic-tools--fullscreen"></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</script>