 <fieldset>
     <legend class="text-center"><%= Resources.titlePersonForm %></legend>
         <div class="panel">
             <div class="panel-body">
                 <div class="row">
                     <div class="col-sm-6">
                         <div class="form-group">
                             <label for="lname_INTERN"><%= Resources.surname %></label>
                             <input value="<%= lname_INTERN %>" type="text" class="form-control" name="lname_INTERN" placeholder="">
                         </div>
                         <div class="form-group">
                             <label for="fname_INTERN"><%= Resources.name %></label>
                             <input value="<%= fname_INTERN %>" type="text" class="form-control" name="fname_INTERN" placeholder="">
                         </div>
                         <div class="form-group">
                             <label for="mname_INTERN"><%= Resources.patronymic %></label>
                             <input value="<%= mname_INTERN %>" type="text" class="form-control" name="mname_INTERN" placeholder="">
                         </div>
                         <div class="form-group">
                             <label for="pname_INTERN"><%= Resources.previousname %> 
                                 [ 
                                 <div class="btn-group dropup">
                                     <button type="button" class="dropdown-toggle btn-clear text-info" aria-haspopup="true" aria-expanded="false">?</button>
                                     <div class="dropdown-menu dropdown-info dropdown-menu-center">
                                         <span class="dropdown-menu_arrow"></span>
                                         <div class="dropdown-title"><%= Resources.Refer %></div>
                                         <div class="dropdown-content"><%= Resources.Refer1 %></div>
                                     </div>
                                 </div> 
                                 ]
                             </label>
                             <input value="<%= pname_INTERN %>" type="text" class="form-control" name="pname_INTERN" placeholder="">
                         </div>
                         <div class="form-group">
                             <label for="universalname_INTERN"><%= Resources.uname %> [ 
                                 <div class="btn-group dropup">
                                     <button type="button" class="dropdown-toggle btn-clear text-info" aria-haspopup="true" aria-expanded="false">?</button>
                                     <div class="dropdown-menu dropdown-info dropdown-menu-center">
                                         <span class="dropdown-menu_arrow"></span>
                                         <div class="dropdown-title"><%= Resources.Refer %></div>
                                         <div class="dropdown-content"><%= Resources.Refer2 %></div>
                                     </div>
                                 </div> 
                                 ]</label>
                             <input value="<%= universalname_INTERN %>" type="text" class="form-control" name="universalname_INTERN" placeholder="">
                         </div>
                     </div>

                     <div class="col-sm-6">
                         <form>
                         <div class="row row-mini">
                             <div class="col-sm-4">
                                 <div class="form-group form-inline text-center">
                                     <label for="birthDateExact_INTERN"><%= Resources.bdate %></label>
                                     <div class="field-group" role="a">
                                         <input value="<%= birthDateExact_INTERN %>" type="text" name="birthDateExact_INTERN" class="form-control ejdatepicker" size="10" maxlength="10" placeholder="<%= Resources.formatDate %>">
                                     </div>
                                 </div>
                             </div>
                             <div class="col-sm-4">
                                 <div class="form-group form-inline text-center">
                                     <label for="" class="text-center"><%= Resources.appage %></label><br/>
                                     <div class="field-group" role="b">
                                         <input value="<%= age_INTERN %>" type="text" name="age_INTERN" class="form-control" size="2" maxlength="2" placeholder="<%= Resources.formatYear %>">
                                         <span>+<br/>-</span>
                                         <input value="<%= ageFromTo_INTERN %>" type="text" name="ageFromTo_INTERN" class="form-control" size="2" maxlength="2" placeholder="<%= Resources.formatYear %>">
                                     </div>
                                 </div>
                             </div>
                             <div class="col-sm-4">
                                 <div class="form-group form-inline text-center">
                                     <label for="" class="text-center"><%= Resources.Range %></label><br/>
                                     <div class="field-group" role="c">
                                         <input value="<%= birthDateFrom_INTERN %>" type="text" name="birthDateFrom_INTERN" class="form-control" size="4" maxlength="4" placeholder="<%= Resources.formatFullYear %>">
                                         <span>-</span>
                                         <input value="<%= birthDateTo_INTERN %>" type="text" name="birthDateTo_INTERN" class="form-control" size="4" maxlength="4" placeholder="<%= Resources.formatFullYear %>">
                                     </div>
                                 </div>
                             </div>
                             </form>
                         </div>

                         <div class="form-group">
                             <label for="Countries"><%= Resources.Country %></label>
                             <select class="form-control" id="Countries" name="selectedCountries"></select>
                         </div>

                         <!-- ru-RU -->
                         <div class="Country" id="ru-RU">
                             <div class="row">
                                 <div class="col-sm-2">
                                     <div class="btn-group dropup egrul dropdown-list-menu">
                                         <button type="button" class="dropdown-toggle btn-baloon" aria-haspopup="true" aria-expanded="false">
                                             <svg class="icon icon-egrul">
                                                 <use xlink:href="#icon-egrul"></use>
                                             </svg>
                                             <svg class="icon icon-crossarrow">
                                                 <use xlink:href="#icon-crossarrow"></use>
                                             </svg>
                                         </button>
                                        
                                         <ul class="dropdown-menu dropdown-menu-center">
										<!--<li>
											<span role="button">
												<span class="button-icon"><svg class="icon icon-build"><use xlink:href="#icon-build" /></svg></span>
												<%= Resources.Refer3 %>
											</span>
										</li>-->
										<li class="checkExternalDB">
											<span role="button">
												<span class="button-icon"><svg class="icon icon-external"><use xlink:href="#icon-external" /></svg></span>
												<%= Resources.Refer4 %>
											</span>
										</li>	
									</ul>
                                     </div>
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group passport-field form-inline">
                                         <label for=""><%= Resources.passport %></label>
                                         <div class="row">
                                             <div class="col-sm-3">
                                                 <input value="<%= pasSerial__ru_RU %>" type="text" name="pasSerial__ru_RU" class="form-control" size="4" maxlength="4" placeholder="">
                                             </div>
                                             <div class="col-sm-6">
                                                 <input value="<%= pasNumber__ru_RU %>" type="text" name="pasNumber__ru_RU" class="form-control" size="6" maxlength="6" placeholder="">
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group">
                                          <label for="pasDate__ru_RU"><%= Resources.idate %></label>
                                         <input value="<%= pasDate__ru_RU %>" name="pasDate__ru_RU" type="text" class="form-control ejdatepicker" placeholder="<%= Resources.formatDate %>">
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 col-sm-offset-2">
                                     <div class="form-group">
                                        
                                     
                                         <label for=""><%= Resources.inn %> [ 
                                             <div class="btn-group dropup">
                                                 <button type="button" class="dropdown-toggle btn-clear text-info" aria-haspopup="true" aria-expanded="false">
                                                     ?
                                                 </button>
                                                 <div class="dropdown-menu dropdown-info dropdown-menu-center">
                                                     <span class="dropdown-menu_arrow"></span>
                                                     <div class="dropdown-title"><%= Resources.Refer %></div>
                                                     <div class="dropdown-content"><%= Resources.Refer5 %></div>
                                                 </div>
                                             </div> 
                                             ]
                                         </label>
                                         <div>
                                             <input value="<%= inn__ru_RU %>" maxlength="16" name="inn__ru_RU" type="text" class="form-control" placeholder="">
                                         </div>

                                     </div>
                                 </div>
                                 <div class="col-sm-5 col-sm-offset-1">
                                     <div class="form-group">
                                         <label for="ogrnip__ru_RU"><%= Resources.ogrnip %></label>
                                         <input value="<%= ogrnip__ru_RU %>" name="ogrnip__ru_RU" type="text" class="form-control">
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- -->
                         <!-- uk-UA -->
                         <div class="Country" id="uk-UA">
                             <div class="row">
                                 <div class="col-sm-2">
                                     <!--<div class="btn-group dropup egrul dropdown-list-menu">
                                         <button type="button" class="dropdown-toggle btn-baloon" aria-haspopup="true" aria-expanded="false">
                                             <svg class="icon icon-egrul">
                                                 <use xlink:href="#icon-egrul"></use>
                                             </svg>
                                             <svg class="icon icon-crossarrow">
                                                 <use xlink:href="#icon-crossarrow"></use>
                                             </svg>
                                         </button>
                                         <ul class="dropdown-menu dropdown-menu-center">
                                             <li><span><button type="button"><svg class="icon icon-build"><use xlink:href="#icon-build" /></svg></button><span><%= Resources.Refer3 %></span></span></li>
                                             <li><span><button type="button"><svg class="icon icon-external"><use xlink:href="#icon-external" /></svg></button><span><%= Resources.Refer4 %></span></span></li>
                                         </ul>
                                     </div>-->
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group passport-field form-inline">
                                         <label for=""><%= Resources.passport %></label>
                                         <div class="row">
                                             <div class="col-sm-3">
                                                 <input value="<%= pasSerial__uk_UA %>" type="text" name="pasSerial__uk_UA" class="form-control" size="4" maxlength="4" placeholder="">
                                             </div>
                                             <div class="col-sm-6">
                                                 <input value="<%= pasNumber__uk_UA %>" type="text" name="pasNumber__uk_UA" class="form-control" size="6" maxlength="6" placeholder="">
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group">
                                         <label for=""><%= Resources.inn %> [ 
                                             <div class="btn-group dropup">
                                                 <button type="button" class="dropdown-toggle btn-clear text-info" aria-haspopup="true" aria-expanded="false">
                                                     ?
                                                 </button>
                                                 <div class="dropdown-menu dropdown-info dropdown-menu-center">
                                                     <span class="dropdown-menu_arrow"></span>
                                                     <div class="dropdown-title"><%= Resources.Refer %></div>
                                                     <div class="dropdown-content"><%= Resources.Refer5 %></div>
                                                 </div>
                                             </div> 
                                             ]
                                         </label>
                                         <div>
                                             <input value="<%= inn__uk_UA %>" name="inn__uk_UA" type="text" class="form-control" placeholder="">
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 col-sm-offset-2">
                                     <div class="form-group">
                                         <label for="pasDate__uk_UA"><%= Resources.idate %></label>
                                         <input value="<%= pasDate__uk_UA %>" name="pasDate__uk_UA" type="text" class="form-control ejdatepicker" placeholder="<%= Resources.formatDate %>">
                                     </div>
                                 </div>
                                 <div class="col-sm-5 col-sm-offset-1">
                                     <div class="form-group"></div>
                                 </div>
                             </div>
                         </div>
                         <!-- -->
                         <!-- kk-KZ -->
                         <div class="Country" id="kk-KZ">
                             <div class="row">
                                 <div class="col-sm-2">
                                     <!--<div class="btn-group dropup egrul dropdown-list-menu">
                                         <button type="button" class="dropdown-toggle btn-baloon" aria-haspopup="true" aria-expanded="false">
                                             <svg class="icon icon-egrul">
                                                 <use xlink:href="#icon-egrul"></use>
                                             </svg>
                                             <svg class="icon icon-crossarrow">
                                                 <use xlink:href="#icon-crossarrow"></use>
                                             </svg>
                                         </button>
                                         <ul class="dropdown-menu dropdown-menu-center">
                                             <li><span><button type="button"><svg class="icon icon-build"><use xlink:href="#icon-build" /></svg></button><span><%= Resources.Refer3 %></span></span></li>
                                             <li><span><button type="button"><svg class="icon icon-external"><use xlink:href="#icon-external" /></svg></button><span><%= Resources.Refer4 %></span></span></li>
                                         </ul>
                                     </div>-->
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group passport-field form-inline">
                                         <label for=""><%= Resources.passport %></label>
                                         <div class="row">
                                             <div class="col-sm-3">
                                                 <input value="<%= pasSerial__kk_KZ %>" type="text" name="pasSerial__kk_KZ" class="form-control" size="4" maxlength="4" placeholder="">
                                             </div>
                                             <div class="col-sm-6">
                                                 <input value="<%= pasNumber__kk_KZ %>" type="text" name="pasNumber__kk_KZ" class="form-control" size="6" maxlength="6" placeholder="">
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group">
                                         <label for=""><%= Resources.inn %> [ 
                                             <div class="btn-group dropup">
                                                 <button type="button" class="dropdown-toggle btn-clear text-info" aria-haspopup="true" aria-expanded="false">
                                                     ?
                                                 </button>
                                                 <div class="dropdown-menu dropdown-info dropdown-menu-center">
                                                     <span class="dropdown-menu_arrow"></span>
                                                     <div class="dropdown-title"><%= Resources.Refer %></div>
                                                     <div class="dropdown-content"><%= Resources.Refer5 %></div>
                                                 </div>
                                             </div> 
                                             ]
                                         </label>
                                         <div>
                                             <input value="<%= inn__kk_KZ %>" name="inn__kk_KZ" type="text" class="form-control" placeholder="">
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 col-sm-offset-2">
                                     <div class="form-group">
                                         <label for="pasDate__kk_KZ"><%= Resources.idate %></label>
                                         <input value="<%= pasDate__kk_KZ %>" name="pasDate__kk_KZ" type="text" class="form-control ejdatepicker" placeholder="<%= Resources.formatDate %>">
                                     </div>
                                 </div>
                                 <div class="col-sm-5 col-sm-offset-1">
                                     <div class="form-group"></div>
                                 </div>
                             </div>
                         </div>
                         <!-- -->
                         <!-- vi-VN -->
                         <div class="Country" id="vi-VN">
                             <div class="row">
                                 <div class="col-sm-2">
                                    <!-- <div class="btn-group dropup egrul dropdown-list-menu">
                                         <button type="button" class="dropdown-toggle btn-baloon" aria-haspopup="true" aria-expanded="false">
                                             <svg class="icon icon-egrul">
                                                 <use xlink:href="#icon-egrul"></use>
                                             </svg>
                                             <svg class="icon icon-crossarrow">
                                                 <use xlink:href="#icon-crossarrow"></use>
                                             </svg>
                                         </button>
                                         <ul class="dropdown-menu dropdown-menu-center">
                                             <li><span><button type="button"><svg class="icon icon-build"><use xlink:href="#icon-build" /></svg></button><span><%= Resources.Refer3 %></span></span></li>
                                             <li><span><button type="button"><svg class="icon icon-external"><use xlink:href="#icon-external" /></svg></button><span><%= Resources.Refer4 %></span></span></li>
                                         </ul>
                                     </div>-->
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group passport-field form-inline">
                                         <label for="">ID Number</label>
                                         <div class="row">
                                             <div class="col-sm-3">
                                                 <input value="<%= inn__vi_VN %>" type="text" name="inn__vi_VN" class="form-control" placeholder="">
                                             </div>
                                             <div class="col-sm-6"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group"><div></div></div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 col-sm-offset-2">
                                     <div class="form-group"></div>
                                 </div>
                                 <div class="col-sm-5 col-sm-offset-1">
                                     <div class="form-group"></div>
                                 </div>
                             </div>
                         </div>
                         <!-- -->
                         <!-- ms-MY -->
                         <div class="Country" id="ms-MY">
                             <div class="row">
                                 <div class="col-sm-2">
                                     <!--<div class="btn-group dropup egrul dropdown-list-menu">
                                         <button type="button" class="dropdown-toggle btn-baloon" aria-haspopup="true" aria-expanded="false">
                                             <svg class="icon icon-egrul">
                                                 <use xlink:href="#icon-egrul"></use>
                                             </svg>
                                             <svg class="icon icon-crossarrow">
                                                 <use xlink:href="#icon-crossarrow"></use>
                                             </svg>
                                         </button>
                                         <ul class="dropdown-menu dropdown-menu-center">
                                             <li><span><button type="button"><svg class="icon icon-build"><use xlink:href="#icon-build" /></svg></button><span><%= Resources.Refer3 %></span></span></li>
                                             <li><span><button type="button"><svg class="icon icon-external"><use xlink:href="#icon-external" /></svg></button><span><%= Resources.Refer4 %></span></span></li>
                                         </ul>
                                     </div>-->
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group passport-field form-inline">
                                         <label for="">Identity Card</label>
                                         <div class="row">
                                             <div class="col-sm-3">
                                                 <input value="<%= IdentityCard__ms_MY %>" type="text" name="IdentityCard__ms_MY" class="form-control" placeholder="">
                                             </div>
                                             <div class="col-sm-6"></div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-sm-5">
                                     <div class="form-group">
                                         <label for="">Police</label>
                                         <div>
                                             <input value="<%= Police__ms_MY %>" name="Police__ms_MY" type="text" class="form-control" placeholder="">
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 col-sm-offset-2">
                                     <div class="form-group">
                                         <label for="Army__ms_MY">Army</label>
                                         <input value="<%= Army__ms_MY %>" name="Army__ms_MY" type="text" class="form-control" placeholder="">
                                     </div>
                                 </div>
                                 <div class="col-sm-5 col-sm-offset-1">
                                     <div class="form-group">
                                         <label for="PassportNo__ms_MY">Passport No.</label>
                                         <input value="<%= PassportNo__ms_MY %>" name="PassportNo__ms_MY" type="text" class="form-control" placeholder="">
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- -->
                     </div>
                 </div>
             </div>    	
             			  
             <div id="sinManage" class="btn-group dropright"></div>  
             <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4">

                            <div id="synonims-button">
                                <div class="dropdown-menu dropdown-alert dropdown-menu-center synonims-info">
                                    <span class="dropdown-menu_arrow"></span>
                                    <div class="dropdown-title"><%= Resources.alert %></div>
                                    <div class="dropdown-content"><%= Resources.Refer6 %></div>
                                </div>
                                <span class="font-icon font-icon-checkbox">
                                    <input type="checkbox" name="searchSin_INTERN" <%= searchSin_INTERN?"checked='checked'":"" %> /></span>&nbsp;<label for="searchSin_INTERN"><%= Resources.searchwiththesynonyms %></label>
                                &nbsp;
                                <svg class="icon icon-info"><use xlink:href="#icon-info"></use></svg>
                            </div>

                        </div>
                        <div class="col-sm-4 text-center checkMatches">
                            <span role="button"><svg class="icon icon-check-entries"><use xlink:href="#icon-check-entries"></use></svg><%= Resources.checkId %></span>
                        </div>
                        <div class="col-sm-4 pull-right text-right">
                            <span role="button" id="clearForm"><svg class="icon icon-trash-s"><use xlink:href="#icon-trash-s"></use></svg><%= Resources.clear1 %></span>
                        </div>
			  				
                    </div>
                </div>

         </div>
         
         <div class="row files-collection">
             <div class="col-sm-4">
                <svg class="svg-icon icon-attach"><use xlink:href="#icon-attach"></use></svg> <%= Resources.attach %> <span class="show-refer7">[ <span class="ring">?</span></span>
                 <div class="dropdown-menu dropdown-info dropdown-menu-center refer7">
                     <span class="dropdown-menu_arrow"></span>
                     <div class="dropdown-content"><%= Resources.Refer7 %></div>
                 </div>
                 ]: 
                 <span class="ring show-attach-manage"><%= Resources.added %> [<span class="amount-files">0</span>]</span>
                 
                 <div class="dropdown-menu attach-manage"></div>

             </div>

             <div class="col-sm-6 pull-right text-right clear">
                 <svg class="svg-icon icon-book"><use xlink:href="#icon-book"></use></svg> <%= Resources.sourceCollection %>: <span class="ring show-source-collection-manage"></span>

                 <div class="dropdown-menu source-collection-manage">
                     <span class="dropdown-menu_arrow"></span>
                     <span class="dropdown-menu_close hide-source-collection-manage"><svg class="icon icon-close"><use xlink:href="#icon-close" /></svg></span>
                     <div class="menu-info-message">
                         <div class="form-group">
                             <label for="add-collection"><%= Resources.addnewcolsources %></label>
                             <div class="input-group">
                                 <input type="text" name="add-collection" class="form-control" id="add-collection" placeholder="<%= Resources.nameVidget %>" />
                                 <div class="input-group-addon add-btn">
                                     <svg class="icon icon-plus"><use xlink:href="#icon-close" /></svg>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="list-cmd-panel"></div>
                 </div>
             </div>
         </div>
         
         <div class="matchesList"></div>
         <div style="padding-top:20px;">
             <button type="button" name="tolist" class="btn btn-flagy-rev btn-blue mrg-r-11"><%= Resources.tolist %></button>
             <button type="button" name="start" class="btn btn-flagy btn-blue mrg-l-11 right"><%= Resources.startSearch %></button>
         </div>

 </fieldset>
