@model ABS.WReportsProcessing.Contracts.ModelReportABSGeneralArticle

<div class="dosier--article-title">
    @Html.Raw(Model.Title)
</div>
<div class="dosier--article-content">
    @Html.Raw(Model.Content)
</div>