<script type="x-template/underscore" id="edit-panel-template">
    <ul>
        <li name="add" class="tlbr--add" title="<%- Resources.add %>"></li>
        <li name="rename" class="tlbr--rename" disabled title="<%- Resources.editItem %>"></li>
        <li name="remove" class="tlbr--clear" disabled title="<%- Resources.deleteItem %>"></li>
        <li class="sorting">
            <i class="up" name="up"></i>
            <i class="down" name="down"></i>
            <i class="first" name="first"></i>
            <i class="last" name="last"></i>
        </li>
        <li class="search">
            <span class="g-form--input input-data"><input type="text" name="rubric-name" value="" class="g-form--input" placeholder="Enter keyword" /><i class="search rtl-1" name="search"></i></span>
        </li>
    </ul>
</script>