<h2><%= Resources.titleFormOrg %></h2>
<div class="Main">
    <input type="text" placeholder="<%= Resources.nameofcompany %>" name='title' />
    <br />
    <input type="text" placeholder="<%= Resources.iin %>" name='inn' />
    <br />
    <input type="text" placeholder="<%= Resources.ogrn %>" name='ogrn' />
    <br />
    <input type="text" placeholder="<%= Resources.okpo %>" name='okpo' />
</div>
<br/><br/>
<p style="padding-left: 72px;padding-right: 150px;">
    <button class="shape gr_blue search"><%= Resources.checkId %></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="shape gr_blue create"><%= Resources.createNew %></button>
    <button class="shape gr_blue right clear"><%= Resources.clearall %></button>
</p>
<br/><br/>
<h2><%= Resources.overlap %></h2>
<div id="SearchResult">
    <table class="List"></table>
</div>

<br/><br/>