@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sandbox</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/cmp/mnxm.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1>Sandbox</h1>
            <div class="control-icons-wrapper">
                <h3>Сontrols</h3>
                <div>
                    <div class="control-icon control-icon-sm control-icon__close"></div>
                    <div class="control-icon control-icon__close"></div>
                    <div class="control-icon control-icon-xl control-icon__close"></div>
                    <div class="control-icon control-icon-xxl control-icon__close"></div>
                    <div class="control-icon control-icon-xxxl control-icon__close"></div>
                </div>
                <div>
                    <div class="control-icon control-icon-sm control-icon__larr"></div>
                    <div class="control-icon control-icon__larr"></div>
                    <div class="control-icon control-icon-xl control-icon__larr"></div>
                    <div class="control-icon control-icon-xxl control-icon__larr"></div>
                    <div class="control-icon control-icon-xxxl control-icon__larr"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>