.semantic-sidebar
  .semantic-worktools
    span.hamburger#tools-hamburger
      span
    ul.view-tools
      li
        span.view-tools--zoom
        ul
          li
            span.view-tools--zoom-out
          li
            span.view-tools--zoom-in
          li
            span.view-tools--zoom-fit
      li
        span.view-tools--hand
    .clearfix
  .view-settings
    span.settings-tab.active View settings
    span.settings-tab Edit mode
  .sidebar--mode-wrpapper
    .sidebar--view-mode
      span Компоновка
    .sidebar--edit-mode
      span Figures
