.spoiler {
  position: relative;
  padding-bottom: 32px;
  transition: all linear 300ms;
}
.spoiler > .control {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  background: transparent;
}
.spoiler > .control:before {
  content: '';
  width: 2px;
  height: 14.5px;
  position: absolute;
  top: 11px;
  left: 10.5px;
  background: #333;
  transform: rotate(45deg);
  transition: all linear 100ms;
}
.spoiler > .control:after {
  content: '';
  width: 2px;
  height: 14.5px;
  position: absolute;
  top: 11px;
  right: 10.5px;
  background: #333;
  transform: rotate(-45deg);
  transition: all linear 100ms;
}
.spoiler > .spoiler--content {
  transition: height ease 300ms;
}
.spoiler > .spoiler--content > div {
  height: 41px;
  box-sizing: border-box;
  padding: 8px;
}
.spoiler.active > .control:before {
  transform: rotate(-45deg);
}
.spoiler.active > .control:after {
  transform: rotate(45deg);
}
.spoiler.active > .spoiler--content {
  height: 41px;
  overflow: hidden;
}